<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>NNNchatbot</title>
  <link href="{{ url_for('static', filename='css/chachat.css') }}" rel="stylesheet">
  <script>
    const csrfToken = "{{ csrf_token() }}";
  </script>
</head>

<body>
  <header>
    <h1>NNNchatbot</h1>
  </header>
  <div id="whole content">
    <main>
      <div id="chatbot">
        <div id="chatbot-body">
          <ul id="chatbot-ul">
            {% for chat in chats %}
            <li class="{{ 'right' if chat.is_user_message else 'left' }}">
              <div class="chatbot-{{ 'right' if chat.is_user_message else 'left' }}">
                {{ chat.content }}
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <!--入力場所，送信ボタン-->
        <form onsubmit="return false">
          <div id="chatbot-footer">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="text" id="chatbot-text" class="browser-default" placeholder="テキストを入力">
            <input type="submit" value="送信" id="chatbot-submit">
          </div>
        </form>
      </div>
    </main>
    <aside>
      <div class="chat-list" id="chatList">
        <!-- チャットリストがここに表示されます -->
      </div>
      <button id="newChatButton">新しいチャット</button>
    </aside>
  </div>
  <script src="{{ url_for('static', filename='scripts/chachat.js') }}"></script>
</body>

</html>