body {
    background: #FFF;
    font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    overflow-x: hidden;
    margin: 0;
}

header {
    height: 60px;
    display: flex;
    background: #ffa24a;
    align-items: center;
}
h1 {
    margin: 0;
    text-align: left;
    margin-left: 10px;
}
#wholeContent {
    margin-top: 60px;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropZone {
    width: 60vw;
    height: 600px;
    display: flex;
    align-items: center;
    border: 2px dashed #cccccc;
    border-radius: 10px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto ;
    background-color: #ffffff;
    transition: background-color 0.3s;
}
#fileUpload {
        display: block;
        margin: -270px auto 20px auto;
        padding: 10px 20px;
        border: none;
        background-color: orange;
        color: white;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
}
#uploadButton {
    display: block;
    margin: 250px auto 0;
    padding: 10px 20px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#fileUpload:hover {
    background-color: darkorange;
}

#uploadButton:hover {
    background-color: darkorange;
}